table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: cornflowerblue;
  color: white;
}

td {
  background-color: lightgrey;
  color: black;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: lightcyan;
}

div {
  text-align: center;
  color: red;
}
